
.content{
    position: relative;
}
#logo1{
    position: relative;
    height:200px;
}
#vertCenter1 img{
    position: absolute;
    height: 100px;      /*because we need to calculate the margin  */
    margin-top: -50%;
    top:50%;
    display:block;
}
.bkgimg1{
    background-image: url(images/interpol3.jpg);

}
#lyric1{
    position: absolute;
    top:50%;
    position: absolute;
    transform: translateY(-50%);
    /* margin affected positioning in this example */
    margin: 0px;
}
#vertHoriCenter{
    position: absolute;
    left: 50%;
    margin-left: -273px;
    width: 516px;
    height: 179px;
    margin-top: 104px;
    padding: 30px;
}

#vertHoriCenter2 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%);
    margin:0px;
}