/* body copy */
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,500');
/* headings and nav */
@import url('https://fonts.googleapis.com/css?family=Martel:700');
body{
    font-size: 10px;
}
.header{
    font-family: 'Martel','Times New Roman', Times, serif;
}
.navbar a{
    font-family: 'Martel','Times New Roman', Times, serif;
}

.bodycopy{
    font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    font-size:1.6em;
}
