
.maincontain{
    background-color:oldlace;
}
.body{
    margin:0px;
}
.floats{
    float:left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}
.red{
background-color:lightcoral;
}
.green{
    background-color:darkolivegreen;
}
.blue{
background-color:lightblue;
}
.clearfix{
    clear:both;
}
.yellow{
    background-color:darkorange;
}
.cyan{
    background-color: darkcyan;
}
.purple{
    background-color:rebeccapurple;
}
/* small screen breakpoint */
@media (min-width:450px){
    .floats{
        width:50%;
    }
    .sm-width-100{
        width:100%;
    }
}

@media (min-width:768px){
    .floats{
        width:33.3333%;
    }
    .md-width-100{
        width:100%;
    }
    .md-width-50{
        width:50%;
    }
}

@media (min-width:992px){
    .floats{
        width:25%;
    }
    .lg-width-50{
        width:50%;
    }
}

