@import url('https://fonts.googleapis.com/css?family=Arvo:700i');

.maincontain{
    background-color:oldlace;
}
.body{
    margin:0px;
}
.red{
background-color:lightcoral;
}
.green{
    background-color:darkolivegreen;
}
.blue{
background-color:lightblue;
}
.clearfix{
    clear:both;
}
.yellow{
    background-color:darkorange;
}
.cyan{
    background-color: darkcyan;
}
.purple{
    background-color:rebeccapurple;
}
.floats{
    float:left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}
.navbar ul li{
    text-decoration: none;
    border-right: 2px outset rgb(250,135,21);
    font-family:"Arvo", 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 700;
    display:inline-block;
    padding:5px;
    color:rgb(174, 36, 36);
}
.navbar:active{
    border-bottom: 2px outset rgb(250,135,21);
    
    
}
/* *****************SMALL SCREENS**************/
@media (min-width:450px){
    .floats{
        width:50%;
    }
    .sm-width-25{
        width:25%;
    }
    .sm-width-33{
        width:33.3333%;
    }
    .sm-width-50{
        width:50%;
    }
    .sm-width-100{
        width:100%;
    }
}
/* *****************MEDIUM SCREENS**************/
@media (min-width:768px){
    .floats{
        width:33.3333%;
    }
    .md-width-25{
        width:100%;
    }
    .md-width-33{
        width:33.3333%
    }
    .md-width-50{
        width:50%;
    }
    .md-width-100{
        width:100%;
    }
    
}
/* *****************LARGE SCREENS**************/
@media (min-width:992px){
    .floats{
        width:25%;
    }
    .lg-width-20{
        width:25%;
    }

    .lg-width-33{
        width:33.3333%;
    }

    .lg-width-50{
        width:50%;
    }
    .lg-width-100{
        width:100%;
    }
}

