#navbar1{ 
    padding-left:0px;
    background-color: lightcyan;
    display:block;
    width: 100%;
    transition: width 350ms ease-in;
}
.clearfix{
    clear:both;
}
.donation{
    display:block;
    text-align: center;
    padding:12px;
}
.flex-sbar{
    display:flex;
}
#mnubtn{
    width: 37px;
    height: 42px;
    margin: -3px 0px;
    padding: 25px;
    display: inline-block;
}
li{
    padding:10px 5px;
}
#navbar2{
    display:none;
}
.content {
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 2px 3px 6px -2px gray;
    padding: 45px;
}

.donation-amount input{
    opacity:0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.donation-amount{
    position:relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ui-button{
    padding: 25px;
    border: 2px solid aqua;
    border-radius: 15px;
    background-color:#4cccf7;
    margin:10px;
}
#othbtn{
    padding-left: 14px;
}
.sendsection{
    margin-top:50px;
    flex-grow: 2;
    width: 100%;
}
.info-section{
    margin-top: 20px;
}
.bannerimg{
    width:100%;
}
.fill-left{
    display: inline-block;
    height: 30px;
    width: 2%;
}
.fill-gap{
    display: inline-block;
    width: 45%;
    height: 30px;
    
}
.donation>a{
    text-decoration:none;
    color:
}
#logo{
    margin-right: 15px;
    height:76px;
    display: inline-block;
    padding-left:10px;
}
@media (min-width:768px){
    #navbar1{
        display:none;
    }
    #navbar2{
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }
    .flex-bar{
        display:flex
    }
    .flex-sbar{
        display:none;
    }
}

