/* font vt323  */
@import url('https://fonts.googleapis.com/css?family=VT323');
@media (min 540px);
.box1{
    text-align: center;
    background-color: blue;
    color: white;
    font-family: "vt323",monospace;
    margin: 25px;
    padding: 11px;
    border-style: solid;
    border-color: gold;
    position: absolute;
    float:left;
}
body{
    margin:0px;
    background-color:white;
}
img{
    margin:auto;
    width:100%;
}
