.content{
    padding:0px 10px;
    min-height:520px;
    position: relative;
}
.content .img_contain{
    min-height:200px;
}
.content img{
    max-width:100%;
}
.content .abs-pos{
    position: absolute;
}
#jkrOverlap{
    top:30px;
}
#jkTitle{
    top:200px;
    right:30px;
    color:wheat;
}