.content{
    padding:0px 10px;
    min-height:300px;
    position: relative;
}
.content .img_contain{
    min-height:200px;
}
.content img{
    max-width:100%;
}
.content .abs-pos{
    position: absolute;
}
.navbar ul li{
    list-style:none;
    text-align: center;
    background-color: rgb(35,57,91);
    padding: 5px 10px;
    border-bottom: 2px solid rgb(246,254,170);
}
.navbar ul{
    text-decoration: none;
    margin:0px;
    padding:0px;
}
.navbar a{
    text-decoration:none;
    color:rgb(246,254,170);
}
.active{
    font-size:22px;
}
.navbar li:last-child{
    border-bottom:none;
}
.navbar{
    background-color:rgb(35,57,91);
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}
.navwrapper{
    display:block;
    background-color:rgb(35,57,91);    
}
.lg-logo{
    float: left;
    width: 10%;
    display:none;
}
.sm-logo{
    float:left;
    width:15%;
}
.banner{
    padding-top:35px;
}
.header{
    position: relative;
    color:rgb(246,254,170);
    text-shadow: 2px 2px 3px gray;
    top: 101px;
    left: 40%;
}
.shoeimg{
    height:360px;
    width:360px;
}
.size-up{
    height:230px;
    width:300px;
}
.home{
    padding-right:35px;
}
@media (min-width:450px){
    .navbar ul li{
        background-color: rgb(35,57,91);
        padding: 5px 10px;
    }
    .sm-logo{
        float:left;
        width:50px;
    }
    .content .img_contain{
        min-height:200px;
    }
}
@media (min-width:768px){
    .navbar ul li{
        background-color: rgb(35,57,91);
        padding: 8px 10px;
        display: inline-block;
        border-right: 2px solid rgb(246,254,170);
        border-bottom: none;
        }
        .navbar li:last-child{
            border-right:none;
        }
        .navbar{
            display:inline-block;
        }
        .lg-logo{
            float: left;
            width:10%;
            display:inherit;
        }
        .sm-logo{
            float:left;
            display:none;
        }
        .home{
            padding-right:35px;
        }
}
@media (min-width:840px){
    .lg-logo{
        float: left;
    }
}
@media (min-width:992px){
    .navbar ul li{
        background-color: rgb(35,57,91);
        padding: 8px 10px;
        border-bottom: none;
        }
        .navbar li:last-child{
            border-right:none;
        }
        .navbar {
            display:inline-block;
        }
        .lg-logo{
            float: left;
        }
}
@media (min-width:1130px){
    .lg-logo{
        float: left;
    }
}