.content{
    padding:0px 10px;
    min-height:520px;
    position: relative;
}
.content .img_contain{
    min-height:200px;
}
.content img{
    max-width:100%;
}
.content .abs-pos{
    position: absolute;
}
.navbar ul li{
    width:100%;
    list-style:none;
    text-align: center;
    background-color: rgba(35,57,91,0.8);
    color: rgb(246,254,170);
}
.navbar ul{
    text-decoration: none;
}