.container{
    width:500px;
    height:400px;
    background-color: azure;
}
.blue-container{
    background-color: lightskyblue;
}

.box{
    width:150px;
    height:150px;
    background-color: chartreuse;
    display:none;
}

