/* Parisienne (headers) and Roboto Condensed (bodycopy) */
@import url('https://fonts.googleapis.com/css?family=Parisienne|Roboto+Condensed:400,400i,700');

/* 'Abril Fatface' headers maybe */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.header{
    font-family: 'Roboto Condensed','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    padding:20px 15px;
    margin: 0px;
    font-weight: 500;

}
.mainhead{
    font-family: 'Parisienne', cursive;
    margin:0px;
    color:white;
    position: absolute;
    top:30px;
    left:87px;
    z-index:111;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3)
}
.navbar a{
    font-family: 'Roboto Condensed','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.bodycopy{
    font-family: 'Roboto Condensed','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    padding: 0px 60px 36px;
    line-height: 1.35;
}
.content{
    font-size:1.2em;
}
.label,.form-input{
    font-family: 'Roboto Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


