.maincontain{
    background-color:salmon;
    width:100%;
    min-height:300px;
}

body{
    margin:0px;
}
@media (min-width: 786px) {
.maincontain {
    background-color: dodgerblue;
    }
}
.h1{
    font-family: 'Courier New', Courier, monospace;
    color:white;
}
@media (min-width: 992px) {
    .maincontain{
        background-color:plum;
    }
}