/* font "Share Tech Mono" */
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
/* font for body copy "Crimson Text" */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
.maincontain {
    background-color:salmon;
    width:100%;
    min-height:300px;
}

nav.navbar{
    background-color:rgb(92,109,112);
    width:100%;
    padding:10px 0px;
    font-family: "Share Tech Mono",'Courier New', Courier, monospace;
}

nav.navbar a {
    font-size:22px;
    line-height: 36px;
    text-decoration: none;
    color:rgb(232,136,115);
    
}

nav.navbar li:last-child{
    border-bottom:0px none; 
}

nav.navbar li {
    border-bottom: 2px solid rgb(232,136,115);
}

nav.navbar ul {
    list-style: none;
    padding:0px;
    margin:0px;
    text-align: center;
}

body {
    margin:0px;
}

.bodycopy {
    font-family: "Crimson Text",'Times New Roman', Times, serif;
    line-height: 1.8;
    padding: 25px;
    display:none;
}
.img_skater { 
    width:250px;
    height:200px;
    margin-left: 55px;
}

h1{
    font-family: "Crimson Text",'Times New Roman', Times, serif;
    font-size:33px;
    padding: 25px;
}
.mpara {
    font-family: "Crimson Text",'Times New Roman', Times, serif;
    line-height: 1.8;
    padding: 25px;
    margin:34px;
}
.mainfoot {
    background-color:whitesmoke;
    height:100px;
    width:100%;
    position:relative;
}
.button {
    height:200px;
    width:200px;
}

@media (min-width: 768px) {
.maincontain {
    background-color: dodgerblue;
    width:750px;
    margin: 0px auto;
    }
    nav.navbar li{
        display:inline-block;
        padding:20px;

    }
    nav.navbar li:last-child{
        border-bottom: 2px solid rgb(232,136,115);
    }
    /* imgs margin changes after breakpoint */
    #ekimg{
        margin-left:100px;
    }
    .bodycopy{
        font-family: "Crimson Text",'Times New Roman', Times, serif;
        line-height: 1.8;
        padding: 26px 145px;
        display:inherit;
    }
    .mpara{
        font-family: "Crimson Text",'Times New Roman', Times, serif;
        line-height: 1.8;
        padding: 25px;
        display:none;
        margin:34px;
    }
    h1{
        text-align: center;
    }
}
@media (min-width: 992px) {
    .maincontain{
        background-color:plum;
        width:960px;
    }
    /* imgs margin changes after breakpoint */
    #ekimg{
        margin-left:164px;
        }
        .bodycopy{
            font-family: "Crimson Text",'Times New Roman', Times, serif;
            line-height: 1.8;
            padding: 26px 145px;
            display:inherit;
        }
        .mpara{
            font-family: "Crimson Text",'Times New Roman', Times, serif;
            line-height: 1.8;
            padding: 25px;
            display:none;
        }
        h1{
            text-align: center;
        }
}